body {
  color: #444;
  margin: 50px 0px 50px 0px;
  line-height: 1.5em;
}
h1 {
  font-size: 30px;
  margin-top: 20px;
}
h1, h2 {
  text-align: center;
}
h3 {
  margin-top: 40px;
}
h2 {
  font-size: 24px;
  margin-top: 20px;
}
h3 {
  font-size: 20px;
  border-bottom: 1px #ddd dotted;
  padding-bottom: 10px;
}
h3 i {
  color: rgb(175, 0, 0);
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
.container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 5px 5px 2px 1px rgba(127, 127, 127, .2);
}
.avatar img {
  border-radius: 100px;
  max-width: 100px;
}
.skills ul {
  list-style-type: none;
}
.dates {
  border-right: 1px solid #ddd;
}
.position {
  padding: 10px;
}
.tech {
  font-weight: bold;
  color: #222;
  border-top: 1px dotted #ddd;
  margin-top: 10px;
  padding-top: 10px;
  list-style-type: none;
}

@media (min-width: 992px) {
  
  .avatar img {
    max-width: 200px !important;
  }
  
}

@media print {
  
  body {
    margin: 0px;
  }
  
  .container {
    padding: 0px !important;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
  
}
